.container_header{
    display: flex;
    justify-content: space-between;
    background-color: var(--bgcolor);
    align-items: center;
    padding: 40px;
}

nav {
    text-decoration: none;
}

ul li{
margin-left: 10px;
}

.evenly{
display: flex;
justify-content: space-evenly;
}

#home_imagem{
    width: 100%;
}

.sobre-texto{
display: flex;
justify-content: center;
flex-direction: column;
padding: 20vh;
}

.logo{
    display: flex;
    width: 60%;
    margin-top: 80px;
    margin-left: 80px;
}

main{
    background-color: #D0C039;
}
 
main, section, h4 , p{
    color: black;
}

#contato{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    background-image: url(/assets/img/backrooms-wallpaper-v0-7sh74w57fchb1.webp);
}

form div{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #D0C039;
    padding: 20px;
}

#home{
   height: 100vh;            
   width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;  
    text-decoration: none;
}

form input{
    width:  380px;
}

article p{
    padding-right: 40px;
}

.hover a:hover{
    color: black;
}

.sobre_container {
    max-width: 1120px;
    margin: -24px auto;
    padding: 0 16px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre_container img {
    display: flex;
    width: 35%;
    border: 5px solid var(--purple-500);
    border-radius: 50%;
    padding-right: 30px;
}

.sobre_container h1 {
    font-size: 32px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
}

.sobre_container p {
    text-align: center;
    margin: 16px 0;
}

.sobre_github {
    display: flex;
    justify-content: space-evenly;
}

.sobre_github button{
    background-color: var(--bgcolor);
}

.btn {
    align-items: center;
    text-align: center;
    padding: 10px 32px;
    background-color: var(--bgcolor);
    border: 1px;
    border-radius: 10px;
    font-weight: 700;
}

a.btn:hover{
background-color: black;
color: var(--bgcolor);
}

/* variável */

:root {
    --bgcolor: #97833A;
}